body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}

table.list{
    width:100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
    
input[type=text] { 
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {    
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.header {
    position: relative;
    width: 300px;
    margin: auto;   
}

#search_value {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
.search_glass {
    position : absolute;
    width: 17px;
    top: 83px;
    right: 12px;
    margin: 0;
}
.employee-form {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.employees-table {
    border-style: solid;
    padding: 20px;
    margin: auto;
    width: 70%;
}
